# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
java/cross-chain-transfer/.idea/*
java/cross-chain-transfer/logs/*
java/cross-chain-transfer/target/*
golang/.idea/*
.idea/*
# Dependency directories (remove the comment below to include it)
# vendor/
